button {
  height: 100%;
  font-family: 'Arial Black';
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-default);
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  transform: translateY(1px);
}

button:active {
  box-shadow: 0 1px var(--color-dark);
}